<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cooking">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cooking">
        <activity
            android:name=".ttts"
            android:exported="false" />
        <activity
            android:name=".pajun9"
            android:exported="false" />
        <activity
            android:name=".pajun8"
            android:exported="false" />
        <activity
            android:name=".pajun7"
            android:exported="false" />
        <activity
            android:name=".pajun6"
            android:exported="false" />
        <activity
            android:name=".pajun5"
            android:exported="false" />
        <activity
            android:name=".pajun4"
            android:exported="false" />
        <activity
            android:name=".pajun3"
            android:exported="false" />
        <activity
            android:name=".pajun2"
            android:exported="false" />
        <activity
            android:name=".pajun1"
            android:exported="false" />
        <activity
            android:name=".gimch_menu8"
            android:exported="false" />
        <activity
            android:name=".gimch_menu7"
            android:exported="false" />
        <activity
            android:name=".gimch_menu6"
            android:exported="false" />
        <activity
            android:name=".gimch_menu5"
            android:exported="false" />
        <activity
            android:name=".gimch_menu4"
            android:exported="false" />
        <activity
            android:name=".gimch_menu3"
            android:exported="false" />
        <activity
            android:name=".gimch_menu2"
            android:exported="false" />
        <activity
            android:name=".gimch_menu1"
            android:exported="false" />
        <activity
            android:name=".rose_menu7"
            android:exported="false" />
        <activity
            android:name=".rose_menu6"
            android:exported="false" />
        <activity
            android:name=".rose_menu5"
            android:exported="false" />
        <activity
            android:name=".rose_menu4"
            android:exported="false" />
        <activity
            android:name=".rose_menu3"
            android:exported="false" />
        <activity
            android:name=".rose_menu2"
            android:exported="false" />
        <activity
            android:name=".rose_menu1"
            android:exported="false" />
        <activity
            android:name=".miykk_menu8"
            android:exported="false" />
        <activity
            android:name=".miykk_menu7"
            android:exported="false" />
        <activity
            android:name=".miykk_menu6"
            android:exported="false" />
        <activity
            android:name=".miykk_menu5"
            android:exported="false" />
        <activity
            android:name=".miykk_menu4"
            android:exported="false" />
        <activity
            android:name=".miykk_menu3"
            android:exported="false" />
        <activity
            android:name=".miykk_menu2"
            android:exported="false" />
        <activity
            android:name=".miykk_menu1"
            android:exported="false" />
        <activity
            android:name=".mixedrice_menu8"
            android:exported="false" />
        <activity
            android:name=".mixedrice_menu7"
            android:exported="false" />
        <activity
            android:name=".mixedrice_menu6"
            android:exported="false" />
        <activity
            android:name=".mixedrice_menu5"
            android:exported="false" />
        <activity
            android:name=".mixedrice_menu4"
            android:exported="false" />
        <activity
            android:name=".mixedrice_menu3"
            android:exported="false" />
        <activity
            android:name=".mixedrice_menu2"
            android:exported="false" />
        <activity
            android:name=".mixedrice_menu1"
            android:exported="false" />
        <activity
            android:name=".garlicbread_menu8"
            android:exported="false" />
        <activity
            android:name=".garlicbread_menu7"
            android:exported="false" />
        <activity
            android:name=".garlicbread_menu6"
            android:exported="false" />
        <activity
            android:name=".garlicbread_menu5"
            android:exported="false" />
        <activity
            android:name=".garlicbrad_menu5"
            android:exported="false" />
        <activity
            android:name=".garlicbread5"
            android:exported="false" />
        <activity
            android:name=".garlicbread_menu4"
            android:exported="false" />
        <activity
            android:name=".garlicbread_menu3"
            android:exported="false" />
        <activity
            android:name=".garlicbread_menu2"
            android:exported="false" />
        <activity
            android:name=".garlicbread_menu1"
            android:exported="false" />
        <activity
            android:name=".curry_menu7"
            android:exported="false" />
        <activity
            android:name=".curry_menu6"
            android:exported="false" />
        <activity
            android:name=".curry_menu5"
            android:exported="false" />
        <activity
            android:name=".curry_menu4"
            android:exported="false" />
        <activity
            android:name=".curry_menu3"
            android:exported="false" />
        <activity
            android:name=".curry_menu2"
            android:exported="false" />
        <activity
            android:name=".curry_menu1"
            android:exported="false" />
        <activity
            android:name=".spaghettti_menu6"
            android:exported="false" />
        <activity
            android:name=".my_page"
            android:exported="false" />
        <activity
            android:name=".spaghetti_menu5"
            android:exported="false" />
        <activity
            android:name=".spaghetti_menu4"
            android:exported="false" />
        <activity
            android:name=".spaghetti_menu1_2"
            android:exported="false" />
        <activity
            android:name=".membership"
            android:exported="false" />
        <activity
            android:name=".rec_menu_ac"
            android:exported="false" />
        <activity
            android:name=".menu_list"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".spaghetti_menu3"
            android:exported="false" />
        <activity
            android:name=".spaghetti_menu2"
            android:exported="false" />
        <activity
            android:name=".spaghetti_menu1"
            android:exported="false" />
        <activity
            android:name=".spaghetti_menu"
            android:exported="false" />
        <activity
            android:name=".beginner_level1"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".login_kakao"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakaob327eef0700b4e403ab4bfd77f49c901" />
            </intent-filter>
        </activity>
    </application>

</manifest>